body{
    font-family: sans-serif;
    width: 80%;
    margin: auto;
}

.columns{ /*general div for column flex*/
    display: flex;
    flex-direction: column;
  }

.rows{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.rows_links{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.rows_links a{
    padding: 10px;
}

aside{
    flex-grow:35;
    border-right-style: solid;
    width: 30%;
}

main{
    padding-left: 20px;
    flex-grow: 65;
}

form{
    padding: 10px;
}

#addform{
    padding-top: 20px;
}

.form_element{
    margin-bottom: 5px;
}

.checkbox_option{
    padding-left: 10px;
}

.align-right {
    display: flex;
    justify-content:flex-end;

  }
.align-top{
    display: flex;
    justify-content: space-between;
}
.align-top span{
    padding: 10px;
}
.pp_id{
    font-weight: bold;
}


.hidden{
    display: none;
}

.feedback{
    color: red;
}

.confirmation{
    color: green;
    padding-bottom: 10px;
    padding-top: 10px;
}

form h2{
    margin-bottom: 0px;
}



.catalog_entry{
    border:solid;
    border-radius: 5px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 300px;
    text-align:center;
}

.content{
    display:flex;
    flex-direction: row;
}

.sciname{
    font-style: italic;
}


.center{
    width: 50%;
    margin: auto;
}

.big_image{
    width:50%;
}

img{
    max-width: 90%;
    max-height: 200px;
}

.admin_image{
    max-height: 150px;
}

.tag{
    border-style: solid;
    border-radius: 5px;
    background-color: green;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
h3, h4{
    margin: 5px;
}

.feedback{ /*for feedback list element in sessions.php*/
    list-style-type: none;
}

@media (max-width: 800px){
    .content{
        flex-direction: column;
    }
    aside{
        border-right-style: none;
        width: 90%;
    }
    body{
        width:100%;
    }
    .center{
        width:90%;
    }
    main{
        width: 90%;
    }



  }

  @media print {
    aside{
        display: none;
    }
    .print_linebreak{
        page-break-after: left;
    }
    .align-right{
        display: none;
    }
    .catalog_entry{
        width:50%;
    }
    img{
        max-width: 90%;
        max-height: 50%;
    }
    .edit_link{
        display: none;
    }
    /* #add_entry{
        display:none;
    } */
}
